@model List<Company>
<div class="card  shadow border-0 mt-4">
	<div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
		<div claas="row">
			<div class="col-12 text-center">
				<h2 class="text-white py-2">Category List</h2>
			</div>
		</div>
	</div>
	<div class="card-body p-4">
			<div class="row pb-3">
				<div class="col-6">
				</div>
				<div class="col-6 text-end">
					<a asp-controller="Company" asp-action="Create" class="btn btn-primary">
						<i class="bi bi-plus-circle-fill"></i> ADD New Company
					</a>
				</div>
			</div>
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>
							Comp. Name
						</th>
						<th>
							City
						</th>
						<th>
							State
						</th>
						<th>
							st. Address
						</th>
						<th>
							Phone Number
						</th>
						<th>

						</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						<tr>
							<td>@item.Name</td>
							<td>@item.City</td>
							<td>@item.State</td>
							<td>@item.StreetAddress</td>
							<td>@item.PhoneNumber</td>

							<td>
								<div class="w-75 btn-group" role="group">
									<a asp-controller="Category" asp-action="Edit" asp-route-Id="@item.Id" class="btn btn-primary btn-sm me-1">
										<i class="bi bi-pencil-square"></i> Update
									</a>
									<a asp-controller="Category" asp-action="Delete" asp-route-Id="@item.Id" class="btn btn-danger btn-sm">
										<i class="bi bi-x-square-fill"></i> Delete
									</a>
								</div>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>


